:root {
  --main-color: #6a1b9a;
  --correct-color: #66bb6a;
  --incorrect-color: #ef5350;
  --disabled-color: #bdbdbd;

  --color-1: #f44336;
  /* Red */
  --color-2: #e91e63;
  /* Pink */
  --color-3: #9c27b0;
  /* Purple */
  --color-4: #673ab7;
  /* Deep Purple */
  --color-5: #3f51b5;
  /* Indigo */
  --color-6: #2196f3;
  /* Blue */
  --color-7: #00bcd4;
  /* Cyan */
  --color-8: #4caf50;
  /* Green */
  --color-9: #ffeb3b;
  /* Yellow */
  --color-10: #ff9800;
  /* Orange */
}

body {
  display: flex;
  flex-direction: column;
  /* Updated to column to stack elements vertically */
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
}

#start-button {
  margin-bottom: 20px;
  /* Add some space between the button and the rules container */
}

#quiz-container,
#final-score-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

#question-container {
  width: 100%;
  max-height: 200px;
  margin-bottom: 20px;
}

#question {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

#answer-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.btn {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  width: 48%;
}

.btn:hover {
  background-color: var(--main-color);
  filter: brightness(85%);
}

#next-button {
  width: 100%;
  margin-top: 10px;
}

#final-score,
#skipped-message {
  font-size: 18px;
  margin-bottom: 10px;
}

img {
  width: 150px;
  height: auto;
}

#color-picker {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
}

#color-picker button {
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#color-picker button:hover {
  border-width: 4px;
}

.message-container {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  /* semi-transparent black */
  color: white;
  flex-direction: column;
  font-size: 24px;
}

.message-container img {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

#restart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

#restart-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn:hover,
.btn:active {
  filter: brightness(85%);
}

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-left {
  animation: slideOutLeft 0.5s forwards;
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

.box {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

#rules-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#rules-container p,
#rules-container ul {
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}

#rules-container li {
  margin-bottom: 5px;
}

.box,
#rules-container {
  display: flex;
  /* Ensuring that the box is displayed flexibly */
  /* Rest of the CSS properties remain the same */
}

#start-button {
  width: 340px;
  /* Ensuring the button has the same width as the rules container */
  margin-bottom: 20px;
}

#app-info {
  position: fixed;
  top: 30px;
  width: 340px;
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

#app-name {
  font-size: 24px;
  /* Adjust the size as you prefer */
  color: var(--main-color);
  /* Use your theme color for the app name */
}

#tagline {
  font-size: 14px;
  /* Adjust as needed */
  color: #555;
  /* Subdued text color for the tagline */
}

#skipped-message-container {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  /* Adjusted top position so it doesn’t overlap the app-info */
  width: 100%;
  height: calc(100% - 60px);
  /* Adjusted height */
  align-items: center;
  justify-content: center;
  color: black;
  position: absolute;
  top: 80px;
  /* Adjusted so it does not overlap with app-info */
  width: 100%;
  height: calc(100% - 80px);
  /* Adjusted so it does not overlap with app-info */
}

#app-info h1 {
  margin: 0;
  font-size: 24px;
}

#app-info p {
  margin: 5px 0 0 0;
  font-size: 16px;
}